name: Auto Deploy Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy on server
        run: |
          cd /home/deploy/apps/node-app
          git pull
          docker-compose up -d --build
